<div class="mb-4" style="margin-left:-10px; max-width: 250px;">
  <h5 class="mb-3">Browse Topics</h5>

  <div class="list-group">
    <a href="{% url 'home' %}" 
       class="list-group-item list-group-item-action {% if request.GET.q == None %}active{% endif %}">
       All
    </a>
    {% for topic in topics %}
      <a href="{% url 'home' %}?q={{ topic.name }}" 
         class="list-group-item list-group-item-action {% if request.GET.q == topic.name %}active{% endif %}">
        {{ topic.name }}
      </a>
    {% endfor %}
  </div>
</div>
